DATABASE_URL=postgresql://<user>:<password>@localhost:5432/stela
APIBARA_STREAM_URL=https://sepolia.starknet.a5a.ch
APIBARA_AUTH_TOKEN=<your-apibara-auth-token>
START_BLOCK=0
PORT=3001
INDEXER_API_KEY=<generate-a-random-secret>
RPC_URL=https://starknet-sepolia.public.blastapi.io
NETWORK=sepolia
STELA_ADDRESS=0x031f738a405157f85e1f20156f3301d15cdaae363d302f4e1f44c49dbc83d437
